{% extends "base.html" %}

{% block title %}Blog-Account{% endblock %}

{% block page_content %}
<div class="page_header">
    <h1>Account</h1>
    <p>Username: {{ current_user.username }}</p>
    <p>Email: {{ current_user.email }}    <a href="{{ url_for('auth.change_email_request') }}">Change email</a></p>
</div>

<div>
    <p>Password: <a href="{{ url_for('auth.change_password') }}">Change password</a></p>
</div>

<div>
    {% if current_user.is_administrator() %}
    <p>Role: Admin</p>
    {% endif %}
</div>
<div>
    <p>
        {% if not current_user.confirmed %}
            请查收邮件确认账户信息。
            未收到邮件？<a href="{{ url_for('auth.resend_confirmation') }}">重新发送</a>
        {% endif %}
    </p>
</div>

<div>
    <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
</div>
{% endblock %}
