{% extends "base.html" %}

{% block title %}Blog-Account{% endblock %}

{% block page_content %}
<div class="page_header">
    <h1>Account</h1>
    <p>Username: {{ current_user.username }}</p>
    <p>
        Email:
        <a href="mailto:{{ current_user.email }}">{{ current_user.email }} </a>
        <a href="{{ url_for('auth.change_email_request') }}">Change email</a>
    </p>
</div>

<div>
    <p>Password: <a href="{{ url_for('auth.change_password') }}">Change password</a></p>
</div>

<div>
    {% if current_user.can(Permission.ADMINISTER) %}
    <p>Role: Admin</p>
    {% else %}
    <p>Role: Ordinary User</p>
    {% endif %}
</div>

<div>
        {% if not current_user.confirmed %}
            <p>---</p>
            <p>请查收邮件确认账户信息。</p>
            <p>需要重新发送？<a href="{{ url_for('auth.resend_confirmation') }}">重新发送</a></p>
        {% endif %}
</div>

{% endblock %}
